<!--
 * @Author: 华豪
 * @Date: 2019-09-12 08:27:52
 * @E-Mail: hh@huahaohh.cn
 * @LastEditors: 华豪
 * @LastEditTime: 2019-09-27 11:59:03
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/static/css/nav_bar.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/aaa.css"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <script type="text/javascript" src="/static/js/select.js"></script>
</head>
<script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.js"></script>
<body background="/static/images/background.jpg">
    <div class='tabs' id="tabs">
        <ul class='nav' style="margin: 100px; background:gray; border-radius: 10px;">
            {% if sel == 0 %}
            <li rel="tab-0" class="selectActive">首页</li>
            {% else %}
            <li rel="tab-0">首页</li>
            {% endif %}
            
            {% if sel == 1 %}
            <li rel="tab-1" class="selectActive">增加</li>
            {% else %}
            <li rel="tab-1">增加</li>
            {% endif %}

            {% if sel == 2 %}
            <li rel="tab-2" class="selectActive">修改</li>
            {% else %}
            <li rel="tab-2">修改</li>
            {% endif %}

            {% if sel == 3 %}
            <li rel="tab-3" class="selectActive">查找</li>
            {% else %}
            <li rel="tab-3">查找</li>
            {% endif %}

            {% if sel == 4 %}
            <li rel="tab-4" class="selectActive">删除</li>
            {% else %}
            <li rel="tab-4">删除</li>
            {% endif %}
        </ul>
        <div style="background-image: url('/static/images/hua.jpg');" rel="tab-0">
            <h2 style="text-align: center; margin-top: 50px;"><input type="button" id="btn" value="暂时没想好写什么"/></h2>
        </div>
        <div style="background-color: rgb(0, 247, 255);" rel='tab-1'>
            <form method="POST" action="add">
                <h2 style="text-align: center; margin-top: 50px;">编号：<input type="text" id="sno" name="sno" placeholder="请输入商品编号"></h2>
                <h2 style="text-align: center; margin-top: 20px;">名称：<input type="text" id="name" name="name" placeholder="请输入商品名称"></h2>
                <h2 style="text-align: center; margin-top: 20px;">价格：<input type="text" id="price" name="price" placeholder="请输入商品价格"></h2>
                <h2 style="text-align: center; margin-top: 20px;">数量：<input type="text" id="count" name="count" placeholder="请输入商品数量"></h2>
                <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="提交"></h2>
            
                {% if po %}
                <h2 style="text-align: center; margin-top: 20px;">提交成功！</h2>
                {% endif %}
            </form>
        </div>
        <div style="background-color: rgb(0, 247, 255);" rel='tab-2'>
            <form method="POST" id="update_action">
                <h2 style="text-align: center; margin-top: 50px;">
                <select class="sele" onchange="getvalue1(this.value)">
                    <option value="-1">请选择</option>
                    <option value="sno">编号</option>
                    <option value="name">名称</option>
                </select>
                <input class="inp" type="text"></h2>
                <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="提交"></h2>
            </form>

            <form method="POST" action="update3">
                {% if uprows %}
                <table width="500px" border="1" cellspacing="0" style="margin:50px 100px 100px 150px;text-align: center;font-size: 15px">
                        <tr><td style="width: 70px;">编号&nbsp;</td><td style="width: 70px;">名称&nbsp;</td><td style="width: 70px;">价格&nbsp;</td><td style="width: 70px;">数量</td></tr>
                        {% for row in uprows %}
                        <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td></tr>
                        {% endfor %}
                    </table>
                        <h2 style="text-align: center; margin-top: 50px;">编号：<input type="text" id="upsno" name="upsno" placeholder="请输入商品编号"></h2>
                        <h2 style="text-align: center; margin-top: 20px;">名称：<input type="text" id="upname" name="upname" placeholder="请输入商品名称"></h2>
                        <h2 style="text-align: center; margin-top: 20px;">价格：<input type="text" id="upprice" name="upprice" placeholder="请输入商品价格"></h2>
                        <h2 style="text-align: center; margin-top: 20px;">数量：<input type="text" id="upcount" name="upcount" placeholder="请输入商品数量"></h2>
                        <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="提交"></h2>
                    {% else %}
                    <h2 style="text-align: center; margin-top: 20px;">暂无商品信息！</h2>
                    {% endif %}
                {% if op %}
                <h2 style="text-align: center; margin-top: 20px;">修改成功！</h2>
                {% endif %}
            </form>
        </div>
        <div style="background-color: rgb(0, 247, 255);" rel='tab-3'>
            <form method="POST" id="find_action">
                <h2 style="text-align: center; margin-top: 50px;">
                <select class="sele" onchange="getvalue2(this.value)">
                    <option value="-1">请选择</option>
                    <option value="sno">编号</option>
                    <option value="name">名称</option>
                    <option value="all">查找所有</option>
                </select>
                <input class="inp" type="text"></h2>
                <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="提交"></h2>
            </form>

            <form method="POST" action="find3">
                {% if rows %}
                <table width="500px" border="1" cellspacing="0" style="margin:50px 100px 100px 150px;text-align: center;font-size: 15px">
                    <tr><td style="width: 70px;">编号&nbsp;</td><td style="width: 70px;">名称&nbsp;</td><td style="width: 70px;">价格&nbsp;</td><td style="width: 70px;">数量</td></tr>
                    {% for row in rows %}
                    <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td></tr>
                    {% endfor %}
                </table>
                {% else %}
                <h2 style="text-align: center; margin-top: 20px;">暂无商品信息！</h2>
                {% endif %}
            </form>
        </div>
        <div style="background-color: rgb(0, 247, 255);" rel='tab-4'>
            <form method="POST" id="del_action">
                <h2 style="text-align: center; margin-top: 50px;">
                <select class="sele" onchange="getvalue3(this.value)">
                    <option value="-1">请选择</option>
                    <option value="sno">编号</option>
                    <option value="name">名称</option>
                </select>
                <input class="inp" type="text"></h2>
                <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="提交"></h2>
            </form>

            <form method="POST" action="del3">
                {% if derows %}
                <table width="500px" border="1" cellspacing="0" style="margin:50px 100px 100px 150px;text-align: center;font-size: 15px">
                        <tr><td style="width: 70px;">编号&nbsp;</td><td style="width: 70px;">名称&nbsp;</td><td style="width: 70px;">价格&nbsp;</td><td style="width: 70px;">数量</td></tr>
                        {% for row in derows %}
                        <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td></tr>
                        {% endfor %}
                    </table>
                        <h2 style="text-align: center; margin-top: 20px;"><input type="submit" value="删除"></h2>
                    {% else %}
                    <h2 style="text-align: center; margin-top: 20px;">暂无商品信息！</h2>
                    {% endif %}
                {% if dp %}
                <h2 style="text-align: center; margin-top: 20px;">删除成功！</h2>
                {% endif %}
            </form>
        </div>
    </div style="clear:both;">
	
	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/gh/751317151/live2d-vv/autoload.js"></script>

	<script type="text/javascript" charset="utf-8"  src="/static/js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="/static/js/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 200,
            "height": 400,
                "position": "right",
                    "hOffset": 0,
            "vOffset": 0
            }
        });
</script>
</body>
</html>
<script type="text/javascript">
    tabs_takes.init("tabs");
</script>